1. Program to reverse a string

In [2]:
input_string = input("Enter a string")
reversed_string = input_string[::-1]
print("reversed string:", reversed_string)

Enter a string Karthick

reversed string: kcihtraK

2.To check if a string is a palindrome

In [7]:
input_string= input("enter a string:")
cleaned_string = ' '.join(input_string.split()).lower()
if input_string == cleaned_string[::-1]:
    print("the string is a palindrome")
else:
    print("the string is not a palindrome")

enter a string: level

the string is a palindrome

3. Convert a string to uppercase

In [8]:
string = input("enter a string:")
uppercase_string = string.upper()
print("uppercase string", uppercase_string)

enter a string: ridhi ratnam

uppercase string RIDHI RATNAM

4.Convert a string to lowercase.

In [9]:
string = input("Enter a string:")
lowercase_string = string.lower()
print("lowercase string:", lowercase_string)

Enter a string: RIDHI RATNAM

lowercase string: ridhi ratnam

5.Count the number of vowels in a string.

In [11]:
input_string = input("enter the string")
vowel_count =sum(1 for char in input_string if char.lower() in 'aeiou')
print("No. of vowels:", vowel_count)

enter the string Ridhi Ratnam

No. of vowels: 4

6. Count the number of consonants in a string.

In [14]:
input_string = input("Enter a string:")
consonant_count= sum(1 for char in input_string if char.isalpha() and char.lower() not in 'aeiou')
print("No. of consonants:", consonant_count)

Enter a string: Ridhi Ratnam

No. of consonants: 7

7. Remove all whitespaces from a string.

In [15]:
input_string = input("Enter a string:")
no_whitespace_string = input_string.replace(" ","")
print("string without whitespaces:", no_whitespace_string)

Enter a string: Ridhi Ratnam looks very pretty in saree

string without whitespaces: RidhiRatnamlooksveryprettyinsaree

8. Find the length of a string without using the len() function.

In [18]:
input_string = input("enter a string:")
charecter_count = 0
for char in input_string:
    charecter_count +=1
print("length of the string is:", charecter_count)

enter a string: Ridhi

length of the string is: 5

9.Check if a string contains a specific word.

In [22]:
input_string = input("Enter a string:")
specific_word = input("enter the word:")
if specific_word in input_string:
    print("the string contains the word")
else:
    print("word not present")

Enter a string: Ridhi visits Tiruvannamalai
enter the word: Ridhi

the string contains the word

10.Replace a word in a string with another word.

In [23]:
input_string= input("enter a string:")
word_to_replace = input("enter word to be replaced:")
replacement_word = input("enter the replacement word:")
modified_string = input_string.replace(word_to_replace, replacement_word)
print("modified string:", modified_string)

enter a string: Ridhi studies in the UK
enter word to be replaced: studies
enter the replacement word: graduated

modified string: Ridhi graduated in the UK

11. Count the occurrences of a word in a string.

In [2]:
input_string= input("enter the string :")
word_to_count = input("enter the word to count:")
words = input_string.split()
word_count = 0 
for word in words:
    if word == word_to_count:
        word_count +=1
print(f"the word '{word_to_count}' appears {word_count} times in the string.")

enter the string : i likrd ridhi wearing the adidas originals and the fit looked good on ridhi
enter the word to count: ridhi

the word 'ridhi' appears 2 times in the string.

12.Find the first occurrence of a word in a string.

In [3]:
sentence = "this is a sample sentence with a few words in it."
word_to_find = "sample"
index = sentence.find(word_to_find)
if index != -1:
    print(f"the first occurence of '{word_to_find} is at the index {index}")
else:
    print(f"'{word_to_find}' not found in the sentence")

the first occurence of 'sample is at the index 10

13. Find the last occurrence of a word in a string.

In [6]:
sentence = "this is a sample sentence with some sample words. Sample is repeated twice"
word_to_find = "sample"
index = sentence.rfind(word_to_find)
if index != -1:
    print(f"the first occurence of '{word_to_find} is at the index {index}")
else:
    print(f"'{word_to_find}' not found in the sentence")

the first occurence of 'sample is at the index 36

14. Split a string into a list of words.

In [7]:
sentence = "Ridhi is very beautiful and has a goddess energy to her."
word_list = sentence.split()
print(word_list)

['Ridhi', 'is', 'very', 'beautiful', 'and', 'has', 'a', 'goddess', 'energy', 'to', 'her.']

15.Join a list of words into a string.

In [9]:
word_list = ['join', 'a', 'lsit', 'of','words']
sentence = ' '.join(word_list)
print(sentence)

join a lsit of words

16.Convert a string where words are separated by spaces to one where words are separated by underscores.

In [10]:
original_string = "this is a sample string with spaces"
modified_string = original_string.replace(" ","_")
print(modified_string)

this_is_a_sample_string_with_spaces

17.Check if a string starts with a specific word or phrase.

In [12]:
string = "hello world"
specific_word = "hello"
if string.startswith(specific_word):
    print(f"the string starts with {specific_word}.")
else:
    print(f"the string does not start with {specific_word}.")

the string starts with hello.

18. Check if a string ends with a specific word or phrase.

In [16]:
original_string = "Hello world"
specific_word = "world"
if original_string.endswith(specific_word):
    print(f"the string ends with '{specific_word}'.")
else:
    print(f"the string does not end with '{specific_word}'.")

the string ends with 'world'.

20.Find the longest word in a string.

In [18]:
original_string = "This is a sample string with different words."
words = original_string.split()
longest_word = ""
max_length = 0
for word in words:
    word_length = len(word)
    if word_length > max_length:
        longest_word = word
        max_length = word_length
print(f"the longest word in the string is: '{longest_word}'")

the longest word in the string is: 'different'

21. Find the shortest word in a string.

In [1]:
original_string = "This is a sample string with some words."
words = original_string.split()
shortest_word = words[0]
min_length = len(words[0])
for word in words:
    word_length = len(word)
    if word_length < min_length:
        shortest_word = word
        min_length = word_length
print(f"the shortest word in the series is: {shortest_word}")

the shortest word in the series is: a

22.Reverse the order of words in a string.

In [3]:
original_string = "this is a sample string"
reversed_string = ' '.join(reversed(original_string.split()))
print(reversed_string)

string sample a is this

23. Check if a string is alphanumeric

In [4]:
input_string = "hello123"
if input_string.isalnum():
    print("the string is alphanumeric.")
else:
    print("the string is not alphanumeric.")

the string is alphanumeric.

24. Extract all digits from a string.

In [7]:
input_string = "hello123 world456"
digits = [char for char in input_string if char.isdigit()]
extracted_digits = ''.join(digits)
print("extracted digits from the string:", extracted_digits)

extracted digits from the string: 123456

25. Extract all alphabets from a string.

In [9]:
input_string = "hello123 world"
alphabets = [char for char in input_string if char.isalpha()]
extracted_alphabets = ''.join(alphabets)
print("extracted alphabets from the string:", extracted_alphabets)

extracted alphabets from the string: helloworld

26. Count the number of uppercase letters in a string

In [10]:
input_string = "Hello World With UPPERCASE Letters"
uppercase_count = 0 
for char in input_string:
    if char.isupper():
        uppercase_count +=1
print("Number of uppercase letters in a string:", uppercase_count)

Number of uppercase letters in a string: 13

27.Count the number of lowercase letters in a string.

In [11]:
input_string = "Hello World With lowercase Letters"
lowercase_count = 0 
for char in input_string:
    if char.islower():
        lowercase_count +=1
print("number of lowercase letters in the string is", lowercase_count)

number of lowercase letters in the string is 26

28. Swap the case of each character in a string.

In [12]:
input_string = "Hello World With Mixed Case"
swapped_string = input_string.swapcase()
print("swapped case string:", swapped_string)

swapped case string: hELLO wORLD wITH mIXED cASE

29. Remove a specific word from a string.

In [13]:
input_string = "Hello world, this is a sample sentence with the word 'world' to be removed."
word_to_remove = "world"
modified_string = input_string.replace(word_to_remove, '')
print("Modified string:", modified_string)

Modified string: Hello , this is a sample sentence with the word '' to be removed.

30. Check if a string is a valid email address.

In [16]:
def is_valid_email(email):
    if email.count("@") == 1: 
        local_part, domain_part = email.split("@")
        if local_part and domain_part:
            if "." in domain_part:
                return True

    return False

email_address = input("Enter an email address: ")

if is_valid_email(email_address):
    print("The email address is valid.")
else:
    print("The email address is not valid.")

Enter an email address:  123@gmail.com

The email address is valid.

31. Extract the username from an email address string.

In [2]:
email_address = "user@example.com"
username = email_address.split("@")[0]
print("username extracted from the email address:", username)

username extracted from the email address: user

32. Extract the domain name from an email address string.

In [5]:
email_address = "user@example.com"
domain_name = email_address.split("@")[1]
print("Domain name extracted from the email address:", domain_name)

Domain name extracted from the email address: example.com

33. Replace multiple spaces in a string with a single space.

In [8]:
input_string = "This    is    a   string    with     multiple   spaces."
output_string = ' '.join(input_string.split())
print("string with multiple spaces replaced:", output_string)

string with multiple spaces replaced: This is a string with multiple spaces.

34. Check if a string is a valid URL.

In [9]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
import validators
url_input = input("enter a url:")
if validators.url(url_input):
    print("the url is valid.")
else:
        print("the url is not valid.")

enter a url: https://lab.pwskills.com/my-labs

the url is valid.

35. Extract the protocol (http or https) from a URL string

In [2]:
from urllib.parse import urlparse
def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme if parsed_url.scheme else None
url_input = input("Enter a URL: ")
protocol = extract_protocol(url_input)
if protocol:
    print("The protocol is:", protocol)
else:
    print("Invalid URL or no protocol found.")

Enter a URL:  https://lab.pwskills.com/my-labs

The protocol is: https

36. Find the frequency of each character in a string.

In [1]:
input_string = "hello world"
char_frequency = {}
for char in input_string:
    if char.isalnum():
        char_frequency[char]= char_frequency.get(char, 0) + 1
for char, frequency in char_frequency.items():
    print(f"Charecter '{char}' appears {frequency} times in the string.")

Charecter 'h' appears 1 times in the string.
Charecter 'e' appears 1 times in the string.
Charecter 'l' appears 3 times in the string.
Charecter 'o' appears 2 times in the string.
Charecter 'w' appears 1 times in the string.
Charecter 'r' appears 1 times in the string.
Charecter 'd' appears 1 times in the string.

37. Remove all punctuation from a string.

In [3]:
import string
input_string = "Hello, World! This is a string with punctuation."
translator = str.maketrans("", "",string.punctuation)
cleaned_string = input_string.translate(translator)
print("string without punctuation:", cleaned_string)

string without punctuation: Hello World This is a string with punctuation

38. Check if a string contains only digits.

In [2]:
input_string = "12345"
if input_string.isdigit():
    print("the string contains only digits")
else:
    print("the string does not contain only digits")

the string contains only digits

39. Check if a string contains only digits

In [1]:
input_string = "HelloWorld"
if input_string.isalpha():
    print("the string contains only alphabetic charecters")
else:
    print("the string does not contain only alphabetic charecters.")

the string contains only alphabetic charecters

40. Convert a string to a list of characters.

In [4]:
input_string = "Ridhi is graduating today"
char_list = list(input_string)
print("list of charecters:",  char_list)

list of charecters: ['R', 'i', 'd', 'h', 'i', ' ', 'i', 's', ' ', 'g', 'r', 'a', 'd', 'u', 'a', 't', 'i', 'n', 'g', ' ', 't', 'o', 'd', 'a', 'y']

41. Check if two strings are anagrams.

In [5]:
string1 = input("enter the first string:")
string2 = input("enter the second string:")
string1 = ''.join(char.lower() for char in string1 if char.isalpha())
string2 = ''.join(char.lower() for char in string2 if char.isalpha())
if len(string1) != len(string2):
    print("the strings are not anagrams.")
else:
    sorted_string1 = sorted(string1)
    sorted_string2 = sorted(string2)
    if sorted_string1 == sorted_string2:
        print("the strings are anagrams.")
    else:
        print("the strings are not anagrams.")

enter the first string: listen
enter the second string: silent

the strings are anagrams.

42. Encode a string using a Caesar cipher.

In [6]:
def caesar_cipher_encrypt(plaintext, shift):
    ciphertext = ""
    for char in plaintext:
        if char.isalpha():
            ascii_offset = ord('A') if char.isupper() else ord('a')
            ciphertext += chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
        else:
            ciphertext += char
    return ciphertext
def caesar_cipher_decrypt(ciphertext, shift):
    decrypted_text = ""
    for char in ciphertext:
        if char.isalpha():
            ascii_offset = ord('A') if char.isupper() else ord('a')
            decrypted_text += chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
        else:
            decrypted_text += char
    return decrypted_text
plaintext = "HELLO"
shift = 3
ciphertext = caesar_cipher_encrypt(plaintext, shift)
print("Encrypted:", ciphertext)
decrypted_text = caesar_cipher_decrypt(ciphertext, shift)
print("Decrypted:", decrypted_text)

Encrypted: KHOOR
Decrypted: HELLO

43. Decode a Caesar cipher encoded string

In [8]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""
    for char in encrypted_text:
        if char.isalpha():
      
            is_uppercase = char.isupper()
           
            shifted_char = chr((ord(char) - shift - ord('A' if is_uppercase else 'a')) % 26 + ord('A' if is_uppercase else 'a'))
            decrypted_text += shifted_char
        else:
           
            decrypted_text += char
    return decrypted_text


encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print("Decrypted text:", decrypted_text)

Decrypted text: Hello, World!

44. Find the most frequent word in a string.

In [9]:
def most_frequent_word(text):
    
    words = ''.join(char if char.isalnum() or char.isspace() else ' ' for char in text).split()
    
    
    word_freq = {}
    for word in words:
        word = word.lower()  
        word_freq[word] = word_freq.get(word, 0) + 1
    
    
    most_frequent = max(word_freq, key=word_freq.get)
    
    return most_frequent, word_freq[most_frequent]


text = "Hello, World! This is a test sentence. Hello, World!"
most_frequent_word, frequency = most_frequent_word(text)
print(f"The most frequent word is '{most_frequent_word}' with a frequency of {frequency}.")

The most frequent word is 'hello' with a frequency of 2.

45. Find all unique words in a string.

In [11]:
def unique_words(text):
   
    words = ''.join(char if char.isalnum() or char.isspace() else ' ' for char in text).split()
    
   
    unique_words = set(words)
    
    return unique_words


text = "Hello, World! This is a test sentence. Hello, World!"
unique_words_set = unique_words(text)
print("Unique words in the text:", unique_words_set)

Unique words in the text: {'a', 'test', 'World', 'sentence', 'Hello', 'is', 'This'}

46. Count the number of syllables in a string.

In [12]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
    if word.endswith("e"):
        count -= 1
    if count == 0:
        count += 1
    return count

def count_total_syllables(text):
    words = text.split()
    total_syllables = sum(count_syllables(word.lower()) for word in words)
    return total_syllables


text = "Hello, World! This is a test sentence."
syllable_count = count_total_syllables(text)
print("Total syllables in the text:", syllable_count)

Total syllables in the text: 10

47. Check if a string contains any special characters.

In [14]:
def has_special_characters(input_string):
    for char in input_string:
        if not char.isalnum():
            return True
    return False
user_input = input("Enter a string: ")
if has_special_characters(user_input):
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

Enter a string:  hello*123world

The string contains special characters.

48. Remove the nth word from a string.

In [16]:
def remove_nth_word(text, n):
    words = text.split()
    if 1 <= n <= len(words):
        del words[n - 1]
        return ' '.join(words)
    else:
        return "Invalid index, word not removed."


text = "Hello, World! This is a test sentence."
n = 3  

modified_text = remove_nth_word(text, n)
print("Modified text:", modified_text)

Modified text: Hello, World! is a test sentence.

49. Insert a word at the nth position in a string.

In [17]:
def insert_word_at_nth_position(text, word, n):
    words = text.split()
    if 0 <= n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    else:
        return "Invalid index, word not inserted."
text = "Hello, World! This is a test sentence."
new_word = "new"
n = 3  
modified_text = insert_word_at_nth_position(text, new_word, n)
print("Modified text:", modified_text)

Modified text: Hello, World! This new is a test sentence.

50. Convert a CSV string to a list of lists.

In [18]:
def csv_to_list_of_lists(csv_string):
    rows = csv_string.split('\n')
    data = [row.split(',') for row in rows if row]  
    return data


csv_string = "1,John,Doe\n2,Jane,Smith\n3,Alice,Johnson"
list_of_lists = csv_to_list_of_lists(csv_string)
print("List of lists:", list_of_lists)

List of lists: [['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Alice', 'Johnson']]

List based practice problems:

1. Create a list with integers from 1 to 10.

In [20]:
integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function.

In [21]:
def find_length_of_list(lst):
    count = 0
    for _ in lst:
        count += 1
    return count


example_list = [1, 2, 3, 4, 5]

length = find_length_of_list(example_list)

print("Length of the list:", length)

Length of the list: 5

3.  Append an element to the end of a list

In [1]:
my_list = [1, 2, 3, 4]
new_element = 5
my_list.append(new_element)
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5]

4. Insert an element at a specific index in a list.

In [2]:
my_list = [1,2,3,4]
new_element = 5
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("updated lsit:", my_list)

updated lsit: [1, 2, 5, 3, 4]

5. Remove an element from a list by its value.

In [4]:
my_list = [1, 2, 3, 4, 5]
element_to_remove = 3
my_list.remove(element_to_remove)
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

6. Remove an element from a list by its index.

In [1]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2
del my_list[index_to_remove]
print("updated list:", my_list)

updated list: [1, 2, 4, 5]

7.  Check if an element exists in a list

In [6]:
my_lsit = [1, 2, 3, 4, 5]
element_to_check = 3
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [10]:
my_list = [10, 20, 30, 40, 50, 60]
element_to_find = 60
if element_to_find in my_list:
    index_of_element = my_list.index(element_to_find)
    print(f" the index of the first occurence of {element_to_find} is: {index_of_element}")
else:
    print(f"{element_to_find} is not present.")

 the index of the first occurence of 60 is: 5

9. Count the occurrences of an element in a list

In [3]:
my_list = [10, 20, 30, 40, 30, 50, 30]
element_to_count = 30 
occurrences = my_list.count(element_to_count)
print(f" the element {element_to_count} occurs {occurrences} times in the list.")

 the element 30 occurs 3 times in the list.

10. Reverse the order of elements in a list.

In [5]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

11.  Sort a list in ascending order.

In [6]:
my_list = [5, 2, 8, 1, 3]
my_list.sort()
print("sorted list:", my_list)

sorted list: [1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.sort(reverse= True)
print("sorted list(descending):", my_list)

sorted list(descending): [5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [11]:
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("list of even numbers:", even_numbers)

list of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. . Create a list of odd numbers from 1 to 20.

In [12]:
odd_numbers = [num for num in range(1,21) if num %2 != 0]
print(" list of odd numbers:", odd_numbers)

 list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [13]:
my_list = [1, 2, 3, 4, 5]
sum_of_elements= sum(my_list)

In [14]:
sum_of_elements

15

16. Find the maximum value in a list

In [15]:
my_list = [1, 2, 3, 4, 5]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 5

17. Find the minimum value in a list

In [16]:
my_list = [1, 2, 3, 4, 5]
min_value = min(my_list)
print("minimum value:", min_value)

minimum value: 1

18. Create a list of squares of numbers from 1 to 10.

In [1]:
squares_list = [num**2 for num in range(1,11)]
print("list of squares:", squares_list)

list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [3]:
import random
random_numbers = [random.randint(1, 10) for _ in range(5)]
print("list of random numbers:", random_numbers)

list of random numbers: [9, 3, 9, 2, 3]

20. Remove duplicates from a list.

In [6]:
my_list = [1,2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("list without duplicates:",unique_list)

list without duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [7]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [item for item in list1 if item in list2]
print("common elements:", common_elements)

common elements: [3, 4, 5]

22. Find the difference between two lists.

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference_list = [item for item in list1 if item not in list2]
print("difference is:", difference_list)

difference is: [1, 2]

23. Merge two lists.

In [11]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1+list2
print("merged list:", merged_list)

merged list: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2

In [12]:
my_list = [1, 2, 3, 4, 5]
multiplied_list =[element *2 for element in my_list]
print("multiplied_list:", multiplied_list)

multiplied_list: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [13]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list =[number for number in my_list if number % 2 == 0]
print("filtered list:", filtered_list)

filtered list: [2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [15]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(element) for element in string_list]
print("converted list:", integer_list)

converted list: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [16]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(element) for element in integer_list]
print("list of strings:", string_list)

list of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [17]:
nested_list = [[1, 2, [3, 4]], [5, [6, 7]], 8]
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]
print("flattened list:", flattened_list)

flattened list: [1, 2, [3, 4], 5, [6, 7], 8]

29. Create a list of the first 10 Fibonacci numbers.

In [19]:
fibonacci_numbers = [0, 1]
while len(fibonacci_numbers) < 10:
    next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    fibonacci_numbers.append(next_number)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [20]:
def is_sorted(input_list):
    return all(input_list[i] <= input_list[i + 1] for i in range(len(input_list) - 1))
example_list = [1, 2, 3, 4, 5]
print("Is the list sorted?", is_sorted(example_list))

Is the list sorted? True

31. Rotate a list to the left by `n` positions.

In [21]:
original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = original_list[n:] + original_list[:n]
print("Original list:", original_list)
print(f"Rotated list by {n} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list by 2 positions: [3, 4, 5, 1, 2]

32.  Rotate a list to the right by `n` positions.

In [23]:
original_list = [1, 2, 3, 4, 5]
n = 2
rotation_index = len(original_list) - n
rotated_list = original_list[rotation_index:] + original_list[:rotation_index]
print("Original list:", original_list)
print(f"Rotated list by {n} positions to the right:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list by 2 positions to the right: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [24]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [25]:
def chunk_list(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunked_list = chunk_list(original_list, 3)
print("Original list:", original_list)
print("Chunked list (size 3):", chunked_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunked list (size 3): [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list

In [26]:
def find_second_largest(input_list):
    if len(set(input_list)) < 2:
        return "List does not have a second largest element"
    first_largest = max(input_list)
    input_list.remove(first_largest)
    second_largest = max(input_list)
    return second_largest
my_list = [10, 5, 8, 12, 7, 3, 15]
result = find_second_largest(my_list)
print("Second largest number:", result)

Second largest number: 12

36. Replace every element in a list with its square

In [27]:
original_list = [1, 2, 3, 4, 5]
squared_list = [element**2 for element in original_list]
print("Original list:", original_list)
print("Squared list:", squared_list)

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [28]:
original_list = ['apple', 'banana', 'orange', 'grape']
result_dict = {element: index for index, element in enumerate(original_list)}
print("Original list:", original_list)
print("Resulting dictionary:", result_dict)

Original list: ['apple', 'banana', 'orange', 'grape']
Resulting dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [29]:
import random
original_list = [1, 2, 3, 4, 5]
random.shuffle(original_list)
print("Original list:", original_list)

Original list: [3, 4, 5, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [30]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("First 10 factorial numbers:", factorial_numbers)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40.  Check if two lists have at least one element in common.

In [31]:
def have_common_element(list1, list2):
    return any(element in list2 for element in list1)
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
result = have_common_element(list1, list2)
print("Do the lists have at least one element in common?", result)

Do the lists have at least one element in common? True

41. Remove all elements from a list.

In [32]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

42. Replace negative numbers in a list with 0.

In [33]:
my_list = [1, -2, 3, -4, 5, -6]
modified_list = [max(0, num) for num in my_list]
print("Original list:", my_list)
print("Modified list:", modified_list)

Original list: [1, -2, 3, -4, 5, -6]
Modified list: [1, 0, 3, 0, 5, 0]

43. Convert a string into a list of words.

In [34]:
my_string = "Convert this string into a list of words"
word_list = my_string.split()
print("Original string:", my_string)
print("List of words:", word_list)

Original string: Convert this string into a list of words
List of words: ['Convert', 'this', 'string', 'into', 'a', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [35]:
word_list = ['Convert', 'this', 'list', 'of', 'words', 'to', 'a', 'string']
my_string = ' '.join(word_list)
print("Original list of words:", word_list)
print("Converted string:", my_string)

Original list of words: ['Convert', 'this', 'list', 'of', 'words', 'to', 'a', 'string']
Converted string: Convert this list of words to a string

45. Create a list of the first `n` powers of 2.

In [36]:
def powers_of_2(n):
    return [2**i for i in range(n)]
powers_list = powers_of_2(n)
print(f"The first {n} powers of 2:", powers_list)

The first 2 powers of 2: [1, 2]

46. Find the longest string in a list of strings.

In [39]:
string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'orange']
longest_string = max(string_list, key=len)
print("Original list of strings:", string_list)
print("Longest string:", longest_string)

Original list of strings: ['apple', 'banana', 'kiwi', 'strawberry', 'orange']
Longest string: strawberry

47. Find the shortest string in a list of strings.

In [40]:
string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'orange']
shortest_string = min(string_list, key=len)
print("Original list of strings:", string_list)
print("Shortest string:", shortest_string)

Original list of strings: ['apple', 'banana', 'kiwi', 'strawberry', 'orange']
Shortest string: kiwi

48. Create a list of the first `n` triangular numbers.

In [41]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print(f"The first {n} triangular numbers:", triangular_list)

The first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [42]:
def is_subsequence(sub, main):
    iter_main = iter(main)
    return all(item in iter_main for item in sub)
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [2, 4, 6]
result = is_subsequence(sub_list, main_list)
print(f"Is {sub_list} a subsequence of {main_list}? {result}")

Is [2, 4, 6] a subsequence of [1, 2, 3, 4, 5, 6, 7, 8]? True

50. Swap two elements in a list by their indices.

In [43]:
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [1, 2, 3, 4, 5]
index_to_swap1, index_to_swap2 = 1, 3
swap_elements(my_list, index_to_swap1, index_to_swap2)
print(f"After swapping elements at indices {index_to_swap1} and {index_to_swap2}: {my_list}")

After swapping elements at indices 1 and 3: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
my_tuple = tuple(range(1, 6))
print("Tuple with integers from 1 to 5:", my_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

2. Access the third element of a tuple

In [2]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

3.Find the length of a tuple without using the `len()` function.

In [4]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = sum(1 for _ in my_tuple)
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [5]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_count = 2
occurrences = sum(1 for item in my_tuple if item == element_to_count)
print(f"Occurrences of {element_to_count} in the tuple: {occurrences}")

Occurrences of 2 in the tuple: 3

5. Find the index of the first occurrence of an element in a tuple

In [6]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)
element_to_find = 2
first_occurrence_index = next((index for index, item in enumerate(my_tuple) if item == element_to_find), None)
print(f"Index of the first occurrence of {element_to_find}: {first_occurrence_index}")

Index of the first occurrence of 2: 1

6. Check if an element exists in a tuple

In [7]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3
exists = element_to_check in my_tuple
print(f"Does {element_to_check} exist in the tuple? {exists}")

Does 3 exist in the tuple? True

7. Convert a tuple to a list.

In [8]:
my_tuple = (1, 2, 3, 4, 5)
converted_list = list(my_tuple)
print("Converted list:", converted_list)

Converted list: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [10]:
my_list = [1, 2, 3, 4, 5]
converted_tuple = tuple(my_list)
print("Converted tuple:", converted_tuple)

Converted tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [11]:
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple
print(f"Unpacked variables: {var1}, {var2}, {var3}")

Unpacked variables: 1, 2, 3

10. Create a tuple of even numbers from 1 to 10.

In [12]:
even_numbers_tuple = tuple(num for num in range(2, 11, 2))
print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [13]:
odd_numbers_tuple = tuple(num for num in range(1, 11, 2))
print("Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [15]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print("Repeated tuple three times:", repeated_tuple)

Repeated tuple three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [16]:
my_empty_tuple = ()
is_empty = not bool(my_empty_tuple)
print(f"Is the tuple empty? {is_empty}")

Is the tuple empty? True

15.  Create a nested tuple.

In [18]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False, True))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False, True))

16. Access the first element of a nested tuple.

In [19]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False, True))
first_element = nested_tuple[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17.  Create a tuple with a single element.

In [20]:
single_element_tuple = (42,)
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

18. Compare two tuples.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

are_equal = tuple1 == tuple2
print("Are the two tuples equal?", are_equal)

Are the two tuples equal? True

19. Delete a tuple

In [22]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

20. Slice a tuple.

In [23]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (2, 3, 4)

21. Find the maximum value in a tuple.

In [1]:
my_tuple = (8, 3, 6, 2, 9)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 9

22. Find the minimum value in a tuple.

In [2]:
my_tuple = (8, 3, 6, 2, 9)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 2

23. Convert a string to a tuple of characters.

In [3]:
my_string = "hello"
char_tuple = tuple(my_string)
print("Converted tuple of characters:", char_tuple)

Converted tuple of characters: ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [4]:
char_tuple = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(char_tuple)
print("Converted string from tuple of characters:", string_from_tuple)

Converted string from tuple of characters: hello

25. Create a tuple from multiple data types.

In [5]:
mixed_tuple = (1, 'hello', 3.14, True)
print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [6]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 is tuple2
print("Are the two tuples identical?", are_identical)

Are the two tuples identical? False

27. Sort the elements of a tuple.

In [7]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

28. Convert a tuple of integers to a tuple of strings.

In [8]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(num) for num in int_tuple)
print("Converted tuple of integers to a tuple of strings:", str_tuple)

Converted tuple of integers to a tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [9]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(num) for num in str_tuple)
print("Converted tuple of strings to a tuple of integers:", int_tuple)

Converted tuple of strings to a tuple of integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [10]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [12]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False, True))
flattened_tuple = tuple(item for inner_tuple in nested_tuple for item in inner_tuple)
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 'a', 'b', 'c', True, False, True)

32. Create a tuple of the first 5 prime numbers.

In [13]:
prime_numbers = (2, 3, 5, 7, 11)
print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome

In [14]:
my_tuple = (1, 2, 3, 2, 1)
is_palindrome = my_tuple == my_tuple[::-1]
print(f"Is the tuple a palindrome? {is_palindrome}")

Is the tuple a palindrome? True

34. Create a tuple of squares of numbers from 1 to 5.

In [16]:
squares_tuple = tuple(i**2 for i in range(1, 6))
print("Tuple of squares of numbers from 1 to 5:", squares_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple

In [17]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Tuple with even numbers filtered out:", filtered_tuple)

Tuple with even numbers filtered out: (1, 3, 5, 7, 9)

36.  Multiply all elements in a tupleby 2.

In [18]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Tuple with all elements multiplied by 2:", doubled_tuple)

Tuple with all elements multiplied by 2: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [20]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (90, 26, 1, 78, 6)

38.  Check if a tuple is sorted.

In [21]:
my_tuple = (1, 2, 3, 4, 5)
is_sorted = my_tuple == tuple(sorted(my_tuple))
print(f"Is the tuple sorted? {is_sorted}")

Is the tuple sorted? True

39. Rotate a tuple to the left by `n` positions.

In [23]:
def rotate_left(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    rotated_tuple = tuple_to_rotate[n:] + tuple_to_rotate[:n]
    return rotated_tuple
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_left(original_tuple, n_positions)
print(f"Tuple after rotating left by {n_positions} positions: {rotated_tuple}")

Tuple after rotating left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [24]:
def rotate_right(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    rotated_tuple = tuple_to_rotate[-n:] + tuple_to_rotate[:-n]
    return rotated_tuple
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_right(original_tuple, n_positions)
print(f"Tuple after rotating right by {n_positions} positions: {rotated_tuple}")

Tuple after rotating right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [25]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return tuple(fib_sequence)
n = 5
fibonacci_tuple = fibonacci(n)
print(f"Tuple of the first {n} Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [27]:
user_input = input("Enter elements separated by commas: ")
user_tuple = tuple(map(int, user_input.split(',')))
print("Tuple from user input:", user_tuple)

Enter elements separated by commas:  1, 2, 3, 4, 5

Tuple from user input: (1, 2, 3, 4, 5)

43. Swap two elements in a tuple

In [28]:
def swap_elements(tuple_to_swap, index1, index2):
    list_representation = list(tuple_to_swap)
    list_representation[index1], list_representation[index2] = list_representation[index2], list_representation[index1]
    return tuple(list_representation)
original_tuple = (1, 2, 3, 4, 5)
index_to_swap1, index_to_swap2 = 1, 3
swapped_tuple = swap_elements(original_tuple, index_to_swap1, index_to_swap2)
print(f"Tuple after swapping elements at indices {index_to_swap1} and {index_to_swap2}: {swapped_tuple}")

Tuple after swapping elements at indices 1 and 3: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [29]:
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = original_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [30]:
def powers_of_2(n):
    return tuple(2**i for i in range(n))
n = 5
powers_tuple = powers_of_2(n)
print(f"Tuple of the first {n} powers of 2:", powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [31]:
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'orange')
longest_string = max(string_tuple, key=len)
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: strawberry

47. Find the shortest string in a tuple of strings

In [32]:
string_tuple = ('apple', 'banana', 'kiwi', 'strawberry', 'orange')
longest_string = max(string_tuple, key=len)
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: strawberry

48. Create a tuple of the first `n` triangular numbers.

In [33]:
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))
n = 5
triangular_tuple = triangular_numbers(n)
print(f"Tuple of the first {n} triangular numbers:", triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [34]:
def is_subsequence(sub, main):
    iter_main = iter(main)
    return all(item in iter_main for item in sub)
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (2, 4, 6)
result = is_subsequence(sub_tuple, main_tuple)
print(f"Is {sub_tuple} a subsequence of {main_tuple}? {result}")

Is (2, 4, 6) a subsequence of (1, 2, 3, 4, 5, 6, 7, 8)? True

50. reate a tuple of alternating 1s and 0s of length `n`.

In [35]:
n = 8
alternating_tuple = tuple((i % 2) for i in range(n))
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 8: (0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [1]:
my_set = set(range(1, 6))
print("Set with integers from 1 to 5:", my_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print("Set after adding element:", my_set)

Set after adding element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [3]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5}

4. Check if an element exists in a set.

In [4]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 3
exists = element_to_check in my_set
print(f"Does {element_to_check} exist in the set? {exists}")

Does 3 exist in the set? True

5. Find the length of a set without using the `len()` function.

In [5]:
my_set = {1, 2, 3, 4, 5}
set_length = sum(1 for _ in my_set)
print("Length of the set:", set_length)

Length of the set: 5

6. Clear all elements from a set

In [6]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing all elements:", my_set)

Set after clearing all elements: set()

7. Create a set of even numbers from 1 to 10.

In [7]:
even_numbers_set = set(num for num in range(2, 11, 2))
print("Set of even numbers from 1 to 10:", even_numbers_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [8]:
odd_numbers_set = set(num for num in range(1, 11, 2))
print("Set of odd numbers from 1 to 10:", odd_numbers_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("Union of two sets:", union_set)

Union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_set = set1.intersection(set2)
print("Intersection of two sets:", intersection_set)

Intersection of two sets: {4, 5}

11. Find the difference between two sets.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference_set = set1.difference(set2)
print("Difference between two sets:", difference_set)

Difference between two sets: {1, 2, 3}

12. Check if a set is a subset of another set.

In [14]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(f"Is {set1} a subset of {set2}? {is_subset}")

Is {1, 2, 3} a subset of {1, 2, 3, 4, 5}? True

13. Check if a set is a superset of another set

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_superset = set1.issuperset(set2)
print(f"Is {set1} a superset of {set2}? {is_superset}")

Is {1, 2, 3, 4, 5} a superset of {1, 2, 3}? True

14. Create a set from a list.

In [16]:
my_list = [1, 2, 3, 4, 5]
set_from_list = set(my_list)
print("Set created from a list:", set_from_list)

Set created from a list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [17]:
my_set = {1, 2, 3, 4, 5}
list_from_set = list(my_set)
print("List created from a set:", list_from_set)

List created from a set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [18]:
import random

my_set = {1, 2, 3, 4, 5}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Set after removing a random element:", my_set)

Set after removing a random element: {2, 3, 4, 5}

17.  Pop an element from a set.

In [19]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Popped element from the set:", popped_element)
print("Set after popping an element:", my_set)

Popped element from the set: 1
Set after popping an element: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [20]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common_elements = set1.isdisjoint(set2)
print(f"Do {set1} and {set2} have no elements in common? {no_common_elements}")

Do {1, 2, 3} and {4, 5, 6} have no elements in common? True

19. Find the symmetric difference between two sets.

In [21]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference between two sets:", symmetric_difference_set)

Symmetric difference between two sets: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Set after updating with elements from another set:", set1)

Set after updating with elements from another set: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [23]:
prime_numbers_set = {2, 3, 5, 7, 11}
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [24]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_identical = set1 is set2
print("Are the two sets identical?", are_identical)

Are the two sets identical? False

23. Create a frozen set.

In [25]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [26]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(f"Are {set1} and {set2} disjoint sets? {is_disjoint}")

Are {1, 2, 3} and {4, 5, 6} disjoint sets? True

25. Create a set of squares of numbers from 1 to 5.

In [27]:
squares_set = {i**2 for i in range(1, 6)}
print("Set of squares of numbers from 1 to 5:", squares_set)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [29]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
filtered_set = {num for num in original_set if num % 2 != 0}
print("Set with even numbers filtered out:", filtered_set)

Set with even numbers filtered out: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [30]:
original_set = {1, 2, 3, 4, 5}
doubled_set = {num * 2 for num in original_set}
print("Set with all elements multiplied by 2:", doubled_set)

Set with all elements multiplied by 2: {2, 4, 6, 8, 10}

28. Create a set of random numbers

In [32]:
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print("Set of random numbers:", random_set)

Set of random numbers: {40, 10, 74, 23, 60}

29. Check if a set is empty

In [33]:
my_set = set()
is_empty = not bool(my_set)
print(f"Is the set empty? {is_empty}")

Is the set empty? True

30. Create a nested set (hint: use frozenset).

In [34]:
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

31. Remove an element from a set using the discard method

In [35]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing element using discard:", my_set)

Set after removing element using discard: {1, 2, 4, 5}

32. Compare two sets.

In [36]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

are_equal = set1 == set2
print("Are the two sets equal?", are_equal)

Are the two sets equal? False

33. Create a set from a string.

In [37]:
my_string = "hello"
set_from_string = set(my_string)
print("Set created from a string:", set_from_string)

Set created from a string: {'l', 'h', 'e', 'o'}

34. Convert a set of strings to a set of integers.

In [38]:
string_set = {"1", "2", "3", "4", "5"}
int_set = {int(element) for element in string_set}
print("Set of integers converted from a set of strings:", int_set)

Set of integers converted from a set of strings: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings

In [39]:
int_set = {1, 2, 3, 4, 5}
string_set = {str(element) for element in int_set}
print("Set of strings converted from a set of integers:", string_set)

Set of strings converted from a set of integers: {'3', '5', '2', '1', '4'}

36. Create a set from a tuple.

In [40]:
my_tuple = (1, 2, 3, 4, 5)
set_from_tuple = set(my_tuple)
print("Set created from a tuple:", set_from_tuple)

Set created from a tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [41]:
my_set = {1, 2, 3, 4, 5}
tuple_from_set = tuple(my_set)
print("Tuple created from a set:", tuple_from_set)

Tuple created from a set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [42]:
my_set = {3, 8, 1, 6, 4}
max_value = max(my_set)
print("Maximum value in the set:", max_value)

Maximum value in the set: 8

39. Find the minimum value in a set.

In [43]:
my_set = {3, 8, 1, 6, 4}
min_value = min(my_set)
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

40. Create a set from user input

In [45]:
user_input = input("Enter elements separated by commas: ")
user_set = set(map(int, user_input.split(',')))
print("Set from user input:", user_set)

Enter elements separated by commas:  12345

Set from user input: {12345}

41. Check if the intersection of two sets is empty.

In [46]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_intersection_empty = not bool(set1.intersection(set2))
print(f"Is the intersection of {set1} and {set2} empty? {is_intersection_empty}")

Is the intersection of {1, 2, 3} and {4, 5, 6} empty? True

42. Create a set of the first 5 Fibonacci numbers.

In [47]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_intersection_empty = not bool(set1.intersection(set2))
print(f"Is the intersection of {set1} and {set2} empty? {is_intersection_empty}")

Is the intersection of {1, 2, 3} and {4, 5, 6} empty? True

43. Remove duplicates from a list using sets.

In [48]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [49]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
have_same_elements = set1 == set2
print("Do the two sets have the same elements? (order doesn't matter)", have_same_elements)

Do the two sets have the same elements? (order doesn't matter) True

45. Create a set of the first `n` powers of 2.

In [50]:
def powers_of_2(n):
    return {2**i for i in range(n)}
n = 5
powers_set = powers_of_2(n)
print(f"Set of the first {n} powers of 2:", powers_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [51]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = set(my_list).intersection(my_set)
print("Common elements between the set and the list:", common_elements)

Common elements between the set and the list: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [52]:
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}
n = 5
triangular_set = triangular_numbers(n)
print(f"Set of the first {n} triangular numbers:", triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [53]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}
is_subset = set2.issubset(set1)
print(f"Is {set2} a subset of {set1}? {is_subset}")

Is {2, 4} a subset of {1, 2, 3, 4, 5}? True

49. Create a set of alternating 1s and 0s of length `n`.

In [54]:
n = 8
alternating_set = {i % 2 for i in range(n)}
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 8: {0, 1}

50. Merge multiple sets into one

In [55]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}